physik521-??/physik521-??.pdf                                                   
physik521-??/*-blx.bib                                                          
physik521-??/*.aux                                                              
physik521-??/*.bbl                                                              
physik521-??/*.blg                                                              
physik521-??/*.fdb_latexmk                                                      
physik521-??/*.fls                                                              
physik521-??/*.log                                                              
physik521-??/*.out                                                              
physik521-??/*.run.xml                                                          
physik521-??/*.synctex.gz                                                       
